.up-menu{
  background-color: white;
}





.site-logo{
  display:  inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.logo{
  width: 130px;
  text-align: Left;
  vertical-align: middle;
  display: inline-block;
}

.about{
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;

}

.about-link{
  text-decoration: none;
}

.contact{
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.contact-link{
  text-decoration: none;
}

.update{
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
}